<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Boardlog. Welcome.</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <!-- TODO: remove this stylesheet when we have restyled the exception pages -->
  <link rel='stylesheet' href='/stylesheets/merb.css' type='text/css' media="screen" charset="utf-8" />
  <link rel='stylesheet' href='/stylesheets/main.css' type='text/css' media="screen" charset="utf-8" />
</head>
<body>
<div align='center' id='main_container'>
	<div align='center' id='top_container'>
		<div id='top_inner_container' align='center'>
			<table class='table_container'><tr><td valign='center' id='controls_container'>
			<%= link_to "<b>Home</b>", '/home/index', :class => 'boardlink' %> |
			<%= link_to "Groups", url(:groups) %> | 
			<% if session.user %>
			  	<!-- logged in user menu -->
			   <%= session.user.name %> - <%= link_to 'Logout', '/logout' unless session.user.nil? %>
			<% else %>
				<%= link_to "Signup", "/users/new" %> |
				<%= link_to "Login", "/login" %>
			<% end %>
			</td><td style='padding-left:30px;'>
				<%= link_to "<img src='/images/top.png' id='welcome_banner'/>", '/home/index', :class => 'boardlink' %>
			</td></tr></table>
		</div>
	</div>
	<div id='content_container' style='width:100%'>
		<div id='content_inner_container' style='padding:15px;'>
    	<%= message[:notice] %>

    	<%= catch_content :for_layout %>

	 	</div>
	</div>
	<div id='bottom_container' align='center'>
	Max Bolingbroke and Dominic Orchard (2008).
	</div>
</div>
</body>
</html>
