<div class="breadcrumbs">
<%= link_to 'Whiteboards', resource(:whiteboards) %> ->
<%= link_to @whiteboard.name, resource(@whiteboard) %> ->
<%= link_to 'Snapshots', resource(@whiteboard, :snapshots) %> ->
<%= link_to 'Snapshot', resource(@whiteboard, @snapshot) %>
</div>

<%= error_messages_for @snapshot %>

<%= form_for (@snapshot, :action => resource(@whiteboard, @snapshot)) do %>
	<table width='100%'>
  <%= partial :form, :snapshot => @snapshot %>
  <%= submit "Update" %>
  </td></tr></table>
<% end =%>
