<div class="breadcrumbs">
<%= link_to 'Whiteboards', resource(:whiteboards) %> ->
<%= link_to @whiteboard.name, resource(@whiteboard) %> ->
<%= link_to 'Snapshots', resource(@whiteboard, :snapshots) %>
</div>

<%= error_messages_for @snapshot %>

<%= form_for (@snapshot, :action => resource(@whiteboard, :snapshots)) do %>
	<table width='100%'>
  <%= partial :form, :snapshot => @snapshot %>
  <%= submit "Create" %>
  </td></tr>
  </table>
<% end =%>
