<div class="breadcrumbs">
<%= link_to 'Whiteboards', resource(:whiteboards) %> -> 
<%= link_to @whiteboard.name, resource(@whiteboard) %>
</div>

<h3>Edit whiteboard settings</h3>

<%= error_messages_for @whiteboard %>

<%= form_for(@whiteboard, :action => resource(@whiteboard)) do %>
  <table>
  <%= partial :form, :whiteboard => @whiteboard %>
  <tr><td></td><td><%= submit "Update" %></td></tr>
  </table>
<% end =%>
