<div class="breadcrumbs">
<%= link_to 'Whiteboards', resource(:whiteboards) %>
</div>

<%= error_messages_for @whiteboard %>

<%= form_for (@whiteboard, :action => resource(:whiteboards)) do %>
  <%= partial :form, :whiteboard => @whiteboard %>
  <%= submit "Create" %>
<% end =%>
