<div class="breadcrumbs">
<%= link_to 'Whiteboards', resource(:whiteboards) %> ->
<%= link_to @whiteboard.name, resource(@whiteboard) %>
</div>


<h3>Upload new whiteboard image</h3>

<%= error_messages_for @image %>

<table cellspacing='2'>
<%= form :action => resource(@whiteboard, :images) do %>
  <% if !@image.new_record? %>
  	<tr><td>This image:</td>
  	<td><%= radio_button :name => "image_source", :value => "existing", :checked => true %></td></tr>
  	<tr><td></td><td>
    <%= hidden_field :name => "existing_image_id", :value => @image.id %>
    <%= image_tag @image.url %>
    </td></tr>
  <% end %>
  <tr><td>
  <%= radio_button :name => "image_source", :value => "external", :label => "External image", :checked => (@image.is_undecided? || @image.is_external?) && @image.new_record? %></td>
  <td><%= text_field :name => "external_image_url", :value => @image.is_external? ? @image.location : nil, :label => "URL: &nbsp;" %>
  </td></tr>
  <tr><td><%= radio_button :name => "image_source", :value => "upload", :label => "Upload new image", :checked => @image.is_uploaded? && @image.new_record? %></td>
  <td>
  <%= file_field :name => "upload_image_file", :label => "Image location: &nbsp;" %>
  </td>
  </tr>
  <tr><td>
  <%= submit "Ok" %>
  <%= submit "Continue" %>
  </td></tr>
<% end =%>
</table>
